global
    log /dev/log local0
    maxconn 4096

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 5s
    timeout client  30s
    timeout server  30s

frontend mongos_front
    bind *:27017
    default_backend mongos_back

backend mongos_back
    balance roundrobin
    option tcp-check
    server mongos-1 mongos:27017   check inter 3s rise 2 fall 3
    server mongos-2 mongos-2:27017 check inter 3s rise 2 fall 3
    server mongos-3 mongos-3:27017 check inter 3s rise 2 fall 3

frontend stats
    bind *:8404
    mode http
    stats enable
    stats uri /stats
    stats refresh 10s
